<div class='container'> 
    <!-- we have to input a user picture
        or video at certain timestamp
        call our api
        and then display the chess board + fen
        and these options
        -- buttons toggling persepective and who's turn it is
        -- edit chessboard at lichess
        -- analysze board at lichess 
        -- analysze board at chess.com
    -->
    <div class="image-upload container-fluid" *ngIf="!doneLoading">
        <div class='row'>
            <div class="d-flex mt-2 justify-content-end flex-row chessboard-select">
                <div></div>
                <div class="p-2 mt-auto mb-auto ">
                    <span >Example:</span>
                </div>
                <div class='p-2'>
                    <select class="upload_examples" [(ngModel)]="example_selected" (ngModelChange)="select_change()">
                        <option value="-1">Select...</option>
                        <option value="GothamChess.png">Gotham Chess</option>
                        <option value="GMHikaru.jpg">GMHikaru</option>
                        <option value="BenFinegold.png">Benjamin Finegold</option>
                        <option value="ChessBrah.png">ChessBrah</option>
                        <option value="Agadmator.png">Agadmator</option>
                        <option value="MagnusCarlson.jpeg">Magnus Carlson</option>
                        <option value="DoubleBongCloud.png">Double Bong Cloud</option>
                    </select>
                </div>
            </div>
        </div>
        <div class='row text-center mb-2'>
            <span>Or</span>
        </div>
        <div class='row'>
            <form action="/api"  method="post" enctype="multipart/form-data">
                <input #chessboard_input name='chessboard' class="hidden" id="input-file-id" (change)="upload(chessboard_input.files)" type="file" />
                <label for="input-file-id" class='mb-4 upload-button'>Upload Chessboard</label>
            </form>
        </div>
        <div>
            {{message}}
        </div>
    </div>
    <!--
        On image selection
    -->
    <div *ngIf="this.filename!='No file chosen'" class="image_selection">
        <p class='text-center chosen-file-name'>{{filename}}</p>
        <div class='mb-2'>
            <img [src]="imageURL" height="250px" *ngIf="imageURL">
        </div>
        <div class='p-2'>
            <label *ngIf="!doneLoading" for="process-input" (click)="process()"class='upload-button'>Process</label>
        </div>
    </div>
    <!--
        No chess boards found
    -->
    <div class="failed" *ngIf="failed">
        No Chessboard found!
        Try one of the examples
    </div>
    <!--
        After image upload
    -->
     
    <div class="loading" *ngIf="loading">
        <img class='rotating mx-auto' src="assets/img/loadingRook.png">
    </div>
    <!--
        <div  class= "result-box">
    -->
    <div  class= "result-box" *ngIf="doneLoading">
        <div class='row mt-2'>
            <div class='cropped-img col-lg-6 col-md-12'>
                <div class>
                    Detected Chessboard:
                </div>
                <div class="ms-auto me-auto cropped-container">
                    <img height='300px' [src]="imageURL" (load)="draw_cropped_image()" id="croppedImage">
                </div>
            </div>
            <div class='col-lg-6 col-md-12'>
                <div class>
                    Detected Pieces:
                </div>
                <app-chess-board #childChessboard [fen]="visible_fen"></app-chess-board>
            </div>
        </div>
        <div>
            <div>
                Fen:
            </div>
            <div style="word-break: break-all">
                {{fen}} {{move}} - - 0 1
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class='col'>
                <div>
                    <label>
                        Perspective:
                    </label>
                </div>
                <div>
                    <select class="perspectiveSelect" [(ngModel)]="perspective" (ngModelChange)="reverse_fen()">
                        <option value='w'>
                        White
                        </option>
                        <option value='b'>
                        Black
                        </option>
                    </select>
                </div>
                <img class='selectImg' [src]="perspective=='w'? 'assets/img/whiteking.png' : 'assets/img/bk.png'">
            </div>
            <div class='col'>
                <div>
                    <label>
                        Turn:
                    </label>
                </div>
                <div>
                    <select class="moveSelect" [(ngModel)]="move">
                        <option value='w'>
                        White
                        </option>
                        <option value='b'>
                        Black
                        </option>
                    </select>
                </div>
                <img class='selectImg' [src]="move=='w'? 'assets/img/WhiteKingMove.png' : 'assets/img/BlackKingMove.png'">
            </div>
            <div class='col'>
                <button class="interact-button" (click)="flip_board()">Flip Board</button>
                <button class="interact-button mt-1" (click)="copyToClipboard()">Copy To Clipboard</button>
                <textarea id='copyArea' style="opacity:0; width:0; height:0;">{{fen}} {{move}} - - 0 1</textarea>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class='col-3 '>
                </div>
                <div class='col-3 '>
                </div>
            </div>
            <div class="lichess mt-2 col">
                <label>
                    <img src="assets/img/lichesshorse.png" class='logo'>
                    Lichess
                </label>
                <hr class='w-100'>
                <div class='row'>
                    <a href='https://lichess.org/editor/{{fen}}_{{move}}'>
                        <label>Editor</label>
                    </a>
                    <a href='https://lichess.org/analysis/{{fen}}_{{move}}'> 
                        <label>Analysis</label>
                    </a>
                </div>
            </div>
            <div class="chesscom mt-2 mb-4 col">
                <label>
                    <img src="assets/img/chesscom.png" class='logo'>
                </label>
                <hr class='w-100'>
                <div class='row'>
                    <label style='font-size:.7em'>(Requires Copy/Paste)</label>
                    <a href='https://chess.com/analysis'> 
                        <label>Analysis</label>
                    </a>
                </div>
            </div>
        </div>
        <div class='d-flex pb-5'(click)='restart()'>
            <div class="me-auto ms-auto">
                <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.885 3.515c-4.617-4.618-12.056-4.676-16.756-.195l-2.129-2.258v7.938h7.484l-2.066-2.191c2.82-2.706 7.297-2.676 10.073.1 4.341 4.341 1.737 12.291-5.491 12.291v4.8c3.708 0 6.614-1.244 8.885-3.515 4.686-4.686 4.686-12.284 0-16.97z"/></svg>
            </div>
        </div>
    </div>
