.container{
    text-align:center;
    max-width:var(--center-width);
    width:100%;
    border-left: solid 1px black;
    border-right: solid 1px black;
    font-size:1.5em;
    min-height:30vh;
    background-color:#FDFDF0;
}
