

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
:root{
    --center-width: 1000px;
    --primary: var(--bs-indigo);
    --backgroundGrey: #696969;
    --chessGrey: #312E2B;
    --chessBlack:  #272522;
}
